<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://order-to-delivary.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/00dc7f5c-3760-43fb-ac67-5a1d40bcd16c/resourceGroups/CloudX-Infrastructure/providers/Microsoft.Web/sites/order-to-delivary</ResourceId>
    <UserName>$order-to-delivary</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://order-to-delivary.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>